fastapi>=0.110.0
uvicorn[standard]
qdrant-client
psycopg[binary]
sqlmodel
python-dotenv
requests
beautifulsoup4
pydantic>=2.0.0
anyio>=4.0.0
starlette>=0.47.2
email-validator
openai
requests-oauthlib
pydantic-settings